@import "helpers/stylings/_index";

// NOTE:
// 1. Adding those media-query() are usefull for specifying the padding of component per device sized
.wrapper {
  @include align-center;
  @include media-query(pc) {
    padding: 80px 100px;
  }

  @include media-query(tl) {
    padding: 80px 60px;
  }

  flex-direction: column;
  padding: 80px 20px;
  min-height: 100vh;
  width: 100vw;

  .container {
    padding-top: 80px;
    width: 100%;

    .tableTitle {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      color: $textDefault;
      font-size: 30px;
      margin-bottom: 20px;
      padding: 10px 0;
      text-align: center;
      width: 100%;
    }

    .tableHeader {
      position: sticky;
      top: 80px;
      width: 100%;

      .search {
        align-items: center;
        background: $textDefault;
        display: flex;
        flex-direction: row-reverse;
        padding: 10px 5px;
        width: 100%;

        .searchField {
          height: 24px;
          margin-left: 20px;
        }

        .searchBtn {
          border: 1px solid $textDefault;
          background-color: $textScrolled;
          color: $textDefault;
          border-radius: 3px;
          padding: 5px;

          &:hover {
            border: 1px solid $textScrolled;
            background-color: $textDefault;
            color: $textScrolled;
          }
        }
      }

      .emojiTableHeader {
        @include align-center;
        background-color: $textDefault;
        border-bottom: 5px solid $textScrolled;
        border-top: 5px solid $textScrolled;
        padding: 10px 0;
        width: 100%;

        & > :first-child {
          border-right: 2px solid $textScrolled;
        }

        & > div {
          font-size: 22px;
          text-align: center;
          width: 100%;
        }
      }
    }

    .emojiContainer {
      background-color: $textDefault;
      display: flex;
      flex-direction: column;
      max-height: 70vh;
      overflow: scroll;
      width: 100%;

      .emoji {
        @include align-center;

        & > :first-child {
          border-right: 2px solid $textScrolled;
        }

        & > div {
          @include align-center;
          border-bottom: 1px solid $textScrolled;
          height: 25px;
          padding: 20px 0;
          text-align: center;
          width: 100%;
        }

        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
