@import "helpers/stylings/_index";

.wrapper {
  position: fixed;
  width: 100vw;
  z-index: 99;

  .defaultMenu {
    color: $textDefault;

    &:hover {
      color: $textDefaultHover;
    }
  }

  .selectedMenu {
    color: $textDefaultHover;
  }

  .container {
    @include media-query(pc) {
      padding: 10px 100px;
    }

    @include media-query(tl) {
      padding: 10px 60px;
    }

    align-items: center;
    background: #242a43;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;

    .headerLogo {
      height: 60px;

      &:hover {
        filter: invert(0.4) sepia(1) saturate(15) hue-rotate(180deg);
      }
    }

    .menu {
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;

      & > span {
        text-decoration: none;
        transition: 0.25s ease-in-out;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .spMenu {
      @include align-center;
      cursor: pointer;

      &:hover {
        & > div > span {
          background: $textDefaultHover;
        }
        & > span {
          color: $textDefaultHover;
        }
      }

      .burgerMenu > span {
        background: $textDefault;
        border-radius: 3px;
        display: block;
        height: 5px;
        margin-bottom: 2px;
        transition: 0.25s ease-in-out;
        width: 30px;

        &:hover {
          background: $textDefaultHover;
        }
      }
    }
  }

  .spContainer {
    @include align-center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 100vh;
    position: absolute;
    width: 100vw;

    .spClose {
      cursor: pointer;
      position: fixed;
      right: 20px;
      top: 35px;
      z-index: 1;

      & > span {
        background: $textDefault;
        border-radius: 3px;
        display: block;
        height: 5px;
        transition: 0.25s ease-in-out;
        width: 30px;
      }

      &:hover > span {
        background: $textDefaultHover;
      }

      & > :first-child {
        transform: rotate(-45deg) translate(0px, 5px);
      }
      & > :last-child {
        transform: rotate(45deg) translate(2px, -4px);
      }
    }

    .spMenuBG {
      height: 100vh;
      position: absolute;
      width: 100vw;
    }

    .spMenuList {
      z-index: 1;

      & > div {
        border-bottom: 1px solid #e3f6ff5e;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        padding: 15px 50px;
        text-transform: uppercase;
        text-align: center;
        transition: 0.25s ease-in-out;

        &:hover {
          border-bottom: 1px solid $textDefaultHover;
        }
      }
    }
  }
}
