// NOTE:
// - Implement here you global css variables.
// TEXT COLOR
$textDefault: rgb(227, 246, 255);
$textDefaultHover: #5fcbff;
$textScrolled: rgb(0, 173, 255);

// Font Sizes
$fontTitle: 60px;
$fontSubTitle: 30px;
